<section class="modal">
  <header class="modal-header">
    <h1 class="modal-title">500</h1>
    <div class="modal-subtitle">Error interno del servidor</div>
  </header>
  <article class="modal-content">
    <p>Vaya! Algo salió mal.</p>
    <br />
    <p>
      Trata de volver a cargar esta página, si el problema persiste no dudes en
      contactar con nosotros.
    </p>
  </article>
  <footer class="modal-footer">
    <app-button type="button" mat-dialog-close> Cerrar </app-button>
  </footer>
</section>
