:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px 16px;
}

.modal {
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-title {
      font-size: 24px;
      font-weight: 900;
    }

    .modal-subtitle {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .modal-content {
    font-size: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }
}
