.modal {
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .modal-title {
      font-size: 24px;
      font-weight: 900;
    }

    .modal-subtitle {
      font-size: 10px;
      font-weight: 500;
    }
  }

  .modal-content {
    font-size: 8px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }
}
