<app-sidebar class="sidebar-btn">
  My App
  <app-button
    [link]="'feature-a'"
    (click)="setActiveCanvas('feature-a')"
    [delay]="200">
    Feature A
  </app-button>
  <app-button
    class="sub-button"
    [link]="'feature-a/feature-c'"
    (click)="setActiveCanvas('feature-a/feature-c')"
    [delay]="200">
    Feature C
  </app-button>
  <app-button
    [link]="'feature-b'"
    (click)="setActiveCanvas('feature-b')"
    [delay]="200">
    Feature B
  </app-button>
</app-sidebar>
<router-outlet></router-outlet>
