<app-sidebar class="sidebar-btn">
  My App
  <app-button
    (click)="splitViewService.setActiveCanvas('feature-a')"
    [link]="'feature-a'"
    [delay]="splitViewService.TRANSITION_TIME_MS">
    Feature A
  </app-button>
  <app-button
    class="sub-button"
    (click)="splitViewService.setActiveCanvas('feature-a/feature-c')"
    [link]="'feature-a/feature-c'"
    [delay]="splitViewService.TRANSITION_TIME_MS">
    Feature C
  </app-button>
  <app-button
    (click)="splitViewService.setActiveCanvas('feature-b')"
    [link]="'feature-b'"
    [delay]="splitViewService.TRANSITION_TIME_MS">
    Feature B
  </app-button>
</app-sidebar>
<router-outlet></router-outlet>
